* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

body {
  background: linear-gradient(to right, #b8b9b9, #484c52);
}

.author {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 375px) {
  .author {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 2rem;
    background-color: #ffff;
  }
}
